:root {
    --settings-fg-color: #004368;
    --settings-bg-color: #e4ebf2;
}

[id^="easproj_"], [class^="easproj_"], [for^="easproj_"], [name^="easproj_"] {
    color: var(--settings-fg-color) !important;
}

select[name^="easproj_"] option {
    background-color: var(--settings-bg-color) !important;
}

.easproject_settings .titledesc {
    color: var(--settings-fg-color) !important;
}

label[for="eas_design_label"] {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
  }


.easproject_settings h2 {
    background: transparent;
}

.easproject_settings tr td {
    vertical-align: top !important;
}

#easproject_settings_label {
    font-size: 1.3em;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    display: inline-block;
    line-height: 1.8;
}

#easproject_settings_label > img {
    width: 100px;
    float: left;
}
#easproject_settings_label > div {
    display: inline-block;
    vertical-align: middle;
}

