.eascompliance button {
    min-width: 155px !important;
    margin-bottom: 20px;
}

.eascompliance_status {
    display: none;
}
.eascompliance {
    display: block;
    text-align: center;
    float: initial;
    margin:10px;
}