.eascompliance button {
    min-width: 155px !important;
    margin-bottom: 20px;
}

.eascompliance_status {
    display: none;
}
.eascompliance {
    display: block;
    text-align: center;
    float: initial;
    margin:10px;
}

.eascompliance_company_vat_button {
    margin-top:5px;
    display: none;
}

.eascompliance_company_vat_message_success {
    color: #00a32a;
    font-size: .75em;
}

.eascompliance_company_vat_message_fail {
    color: #cc1818;
    font-size: .75em;
}